body {
    margin: 50px 0 0 0;
    padding:30px;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    font-size: 15px;
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 200;
    margin:0;
}

strong {
    display: inline-block;
    width: 70px;
}